$primary-color: #f75c49;
$primary-100-color: #f99589;
$primary-500-color: #cc4836;
$white-color: #ffffff;
$gray-100-color: #f1f3f4;
$gray-200-color: #fcfcfc;
$gray-300-color: #dbdcdd;
$gray-500-color: #767676;
$gray-600-color: #464547;
$black-color: #222222;
$yellow-color: #ecec02;
$pink-100-color: #f9f5f9;
$blue-400-color: #1a9cb0;
$blue-500-color: #10616d;